name: Terraform Lint

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Terraform Lint
      uses: Dev0psPleb/terraform-aws-sophos-firewall/.github/actions/terraform_lint
