name: Terraform Lint

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
    - name: Terraform Lint
      id: lint1
      continue-on-error: true
      run: |
        terraform fmt -check -diff
    - name: Terraform fmt list
      continue-on-error: true
      id: lint2
      run: |
        terraform fmt -check -list=true
    - id: diff
      run: |
        echo '${{ steps.lint1.outputs.stdout || steps.lint1.outputs.stderr }}' \
        | sed -E 's/^([[:space:]]+)([-+])/\2\1/g' > diff.txt

        echo '{{ steps.lint2.outputs.stdout || steps.lint2.outputs.stderr }}' > list.txt
    - name: Put diff and list in Env Var
      run: |
        DIFF=$(cat diff.txt)
        echo "DIFF<<EOF" >> $GITHUB_ENV
        echo "$DIFF" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV

        LIST=$(cat list.txt)
        echo "LIST<<EOF" >> $GITHUB_ENV
        echo "$LIST" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
    - name: Post Diff to GitHub PR
      uses: mshick/add-pr-comment@v1
      with:
        allow-repeats: true
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        repo-token-user-login: 'github-actions[bot]'
        message: |
          ## Terraform Format Diff:
          ```diff
          ${{ env.DIFF }}
          ```

          ## List of files:
          ${{ env.LIST }}
